.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: 70vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

