.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 1rem 0;
  background: blue;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgb(100, 100, 100);
}